#about h1 {
  font-family: 'Noto Nastaliq Urdu', serif;
  text-shadow: 0 0px 4px #d50404;
  line-height: 3em;
  margin-top: 26px;
}
#about p{
  font-family: "Katibeh", cursive;
  font-size: 1.44em;
  text-shadow: 0 0px 5px #000;
}
@media (min-width: 500px) {
  #about {
    padding-bottom: 20em;
    padding-top: 10em;
    text-align: center;
    line-height: 3em;
  }
}
@media (min-width: 820px) {
  #about {
    padding-bottom: 2em;
    text-align: center;
    line-height: 3em;
  }
}
@media (min-width: 992px) {
  #about {
    padding-bottom: 2em;
    text-align: start;
  }
}

@media (min-width: 1282px) {
  #about {
    padding-top: 9em;
    text-align: start;
  }
}
.block-heading h2 {
  font-family: 'Noto Nastaliq Urdu', serif;
}
.block-heading ul,
h5 {
  list-style: none;
  text-align: start;
}
.block-heading ul li {
  position: relative;
  padding-right: 10px;
}
.block-heading ul li:before,
.block-heading ul li:after {
  content: "";
  position: absolute;
  right: 0px;
  width: 2px;
  height: 6px;
  border-radius: 2px;
  background-color: #d50404;
  transform: rotate(-45deg);
}
.block-heading ul li:before {
  top: 10px;
  transform: rotate(45deg);
}
.block-heading ul li:after {
  top: 13px;
  transform: rotate(-45deg);
}
#particles{
  background: #000;
  background-image: url('assets/img/block.jpeg');
  background-size: cover;
  height: 750px;
}
#services h2{
  font-family: 'Noto Nastaliq Urdu', serif;
}
#services h3{
  font-family: 'Katibeh', cursive;
}
#questions h1{
  font-family: 'Noto Nastaliq Urdu', serif;
  line-height: 1.6em;
}
#questions h3{
  font-family: 'Katibeh', cursive;
  line-height: 1.3em;
}
#team h1{
  font-family: 'Noto Nastaliq Urdu', serif;
  line-height: 3em;
}
#team h3{
  font-family: 'Noto Nastaliq Urdu', serif;
  margin-bottom: 0.5em;
  text-shadow: 0px 0.6px 0.3px #eee;
}
#contact h2 {
  font-family: 'Noto Nastaliq Urdu', serif;
  margin-bottom: 0.5em;
}
#contact h3 {
  font-family: 'Katibeh', cursive;
}
.accordion-item h2{
  font-family: 'Noto Nastaliq Urdu', serif;
}